<a href="https://colab.research.google.com/github/brendenwest/ad450/blob/master/3_data_acquisition_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Acquisition & Cleaning

Accessing and cleaning data is a crucial and often time-consuming step in data science.

Data scientists might use pure Python, psndas, or other programming tools for this step. Examples here focus on pandas, with a few other approaches for specific scenarios.

### Reading

- McKinney, Chapters 6 - 7
- https://www.detroitnews.com/story/news/local/detroit-city/housing/2020/01/09/detroit-homeowners-overtaxed-600-million/2698518001/
- https://realpython.com/beautiful-soup-web-scraper-python/

### Practice
- https://www.datacamp.com/community/tutorials/making-web-crawlers-scrapy-python
- https://www.datacamp.com/community/tutorials/python-regular-expression-tutorial
- https://nbviewer.org/github/pydata/pydata-book/blob/2nd-edition/ch06.ipynb 
- https://nbviewer.org/github/pydata/pydata-book/blob/2nd-edition/ch07.ipynb

### Learning Outcomes
- Loading data files
- Loading data from web APIs
- Web scraping
- Interacting with a database
- Inspecting data with pandas
- Data cleaning

## Loading data files

pandas provides a number of built-in functions for reading tabular data from plain-text files into a dataframe, including these common formats:

*   read_csv - comma-separated values (.csv files)
*   read_table - values separated by defined character (eg .tsv files)
*   read_fwf - fixed-width columns
*   read_html
*   read_json - JavaScript object notation
*   read_excel - Excel XLS or XLSX files

pandas' data-parsing functions support options for:
- indexing (which columns to import and how to get column names)
- type inference and data conversion
- datetime parsing
- iterating over chunks of very large files
- handling unclean data

In [6]:
import pandas as pd

# view actual text file
# !cat sample_data/california_housing_test.csv

df = pd.read_csv('sample_data/california_housing_test.csv')
df = pd.read_table('sample_data/california_housing_test.csv', sep=",")
df.head(20)

    longitude  latitude  ...  median_income  median_house_value
0     -122.05     37.37  ...         6.6085            344700.0
1     -118.30     34.26  ...         3.5990            176500.0
2     -117.81     33.78  ...         5.7934            270500.0
3     -118.36     33.82  ...         6.1359            330000.0
4     -119.67     36.33  ...         2.9375             81700.0
5     -119.56     36.51  ...         1.6635             67000.0
6     -121.43     38.63  ...         1.6641             67000.0
7     -120.65     35.48  ...         3.2250            166900.0
8     -122.84     38.40  ...         3.6696            194400.0
9     -118.02     34.08  ...         2.3333            164200.0
10    -118.24     33.98  ...         2.2054            125000.0
11    -119.12     35.85  ...         2.4167             58300.0
12    -121.93     37.25  ...         4.6900            252600.0
13    -117.03     32.97  ...         4.5625            231200.0
14    -117.97     33.73  ...         5.7121            222500.0
15    -117.99     33.81  ...         2.2000            153100.0
16    -120.81     37.53  ...         1.8750            181300.0
17    -121.20     38.69  ...         2.7174            137500.0
18    -118.88     34.21  ...         6.5851            300000.0
19    -122.59     38.01  ...         6.1724            414300.0

[20 rows x 9 columns]

#### Common options:

- handle files with no header
- set a specific column as the dataframe index
- set a hierarchichal index
- skip specific rows
- attempt to parse dates

#### missing values

pandas recognizes common strings for missing data, such as `NA` and `NULL`. 

Programs can also specify values to treat as missing and can use different values for different columns.

#### Reading files in parts

It sometimes makes sense to read part of a large file or iterate through it in small chunks.

- `nrows` to read a small number or rows
- `chunksize` to return a text parser object for iteration
- using python's csv library:


```
# using python csv reader
import csv
f = open.('FILENAME')
reader = csv.reader(f)
for line in reader:
  # operate on each line
```

In [8]:
# using python csv reader
import csv
f = open('sample_data/california_housing_test.csv')
reader = csv.reader(f)
count = 0
for line in reader:
  # operate on each line
  print(line)
  count += 1
  if count == 20:
    break

['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
['-122.050000', '37.370000', '27.000000', '3885.000000', '661.000000', '1537.000000', '606.000000', '6.608500', '344700.000000']
['-118.300000', '34.260000', '43.000000', '1510.000000', '310.000000', '809.000000', '277.000000', '3.599000', '176500.000000']
['-117.810000', '33.780000', '27.000000', '3589.000000', '507.000000', '1484.000000', '495.000000', '5.793400', '270500.000000']
['-118.360000', '33.820000', '28.000000', '67.000000', '15.000000', '49.000000', '11.000000', '6.135900', '330000.000000']
['-119.670000', '36.330000', '19.000000', '1241.000000', '244.000000', '850.000000', '237.000000', '2.937500', '81700.000000']
['-119.560000', '36.510000', '37.000000', '1018.000000', '213.000000', '663.000000', '204.000000', '1.663500', '67000.000000']
['-121.430000', '38.630000', '43.000000', '1009.000000', '225.000000', '604.000000', '218.000000', '1.664100', '67000.000000']
['-120.650000', '35.480000', '19.000000', '2310.000000', '471.000000', '1341.000000', '441.000000', '3.225000', '166900.000000']
['-122.840000', '38.400000', '15.000000', '3080.000000', '617.000000', '1446.000000', '599.000000', '3.669600', '194400.000000']
['-118.020000', '34.080000', '31.000000', '2402.000000', '632.000000', '2830.000000', '603.000000', '2.333300', '164200.000000']
['-118.240000', '33.980000', '45.000000', '972.000000', '249.000000', '1288.000000', '261.000000', '2.205400', '125000.000000']
['-119.120000', '35.850000', '37.000000', '736.000000', '166.000000', '564.000000', '138.000000', '2.416700', '58300.000000']
['-121.930000', '37.250000', '36.000000', '1089.000000', '182.000000', '535.000000', '170.000000', '4.690000', '252600.000000']
['-117.030000', '32.970000', '16.000000', '3936.000000', '694.000000', '1935.000000', '659.000000', '4.562500', '231200.000000']
['-117.970000', '33.730000', '27.000000', '2097.000000', '325.000000', '1217.000000', '331.000000', '5.712100', '222500.000000']
['-117.990000', '33.810000', '42.000000', '161.000000', '40.000000', '157.000000', '50.000000', '2.200000', '153100.000000']
['-120.810000', '37.530000', '15.000000', '570.000000', '123.000000', '189.000000', '107.000000', '1.875000', '181300.000000']
['-121.200000', '38.690000', '26.000000', '3077.000000', '607.000000', '1603.000000', '595.000000', '2.717400', '137500.000000']
['-118.880000', '34.210000', '26.000000', '1590.000000', '196.000000', '654.000000', '199.000000', '6.585100', '300000.000000']

### Loading JSON Data

Programs can load JSON data with core python:

```
import json
data = json.loads(FILENAME) # read JSON file into python object
jsonfile = json.dumps(PYTHON_OBJECT) # convert python object to JSON
```
or with pandas `read_json` method. By default, `pandas.read_json` assumes each object in a JSON array is table row.

In [10]:
import json
data = json.loads('sample_data/anscombe.json') # read JSON file into python object
print(data)
#jsonfile = json.dumps(data) # convert python object to JSON

JSONDecodeError: ignored

In [12]:
import pandas as pd
df = pd.read_json('sample_data/anscombe.json')
df.head()

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

### Loading Excel Data

Programs can load data from Excel files using pure python with openpyxl, or with pandas' `ExcelFile` class or read_excel() method.

```
xlsx = pd.ExcelFile(FILENAME)
pd.read_excel(xlsx, SHEETNAME)
```

### Working with HTML

pandas `read_html` method depends on several supporting libraries.

```
pip install lxml
pip install beautifulsoup4 html5lib
```

By default it looks for & attempts to parse all TABLE elements in an HTML file.

## Loading Web data

Python programs can load data from web sites using a number of approaches, depending on:

- whether data are available from an API
- whether data are publicly available or behind authentication

### Web API integration

When data are available from an API as structured data (e.g. JSON, XML, CSV), programs can fetch using libraries such as `requests`.

In [17]:
import requests
url = 'https://data.seattle.gov/resource/2khk-5ukd.json'
resp = requests.get(url)
data = resp.json() # parse HTTP response
licenses = pd.DataFrame(data)
licenses.head(25)

                        department  ... hourly_rate
0                Police Department  ...       54.29
1                   Seattle Center  ...        24.6
2                   Seattle Center  ...       30.14
3         Seattle Public Utilities  ...       38.07
4               Parks & Recreation  ...       17.85
5   Seattle Dept of Transportation  ...       55.64
6   Seattle Dept of Transportation  ...       40.93
7                Police Department  ...       54.29
8                Police Department  ...        53.5
9   Seattle Dept of Transportation  ...       49.25
10              Seattle City Light  ...       79.92
11               Police Department  ...       30.99
12                 Fire Department  ...        46.9
13                 Fire Department  ...       46.06
14                 Fire Department  ...       46.06
15              Seattle City Light  ...       29.78
16                 Fire Department  ...       43.98
17              Seattle City Light  ...     75.2843
18              Parks & Recreation  ...       45.52
19          Information Technology  ...      59.336
20      Construction & Inspections  ...       54.09
21              City Budget Office  ...       53.31
22       Human Services Department  ...       37.77
23              Seattle City Light  ...       63.59
24          Information Technology  ...       59.33

[25 rows x 5 columns]

### Web scraping

Sometimes data are available on the internet, but not as structured data. So programs need to capture a full web page and then extract just the desired data.

Two widely used python libraries are:

- [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) - easy to use but requires other supporting libraries.
- [Scrapy](https://scrapy.org/) - complete package & optimal for large, complicated tasks

In [15]:

import requests
from bs4 import BeautifulSoup

url = 'https://fortress.wa.gov/esd/file/warn/Public/SearchWARN.aspx'
resp = requests.get(url)
data = resp.text # parse HTTP response

soup = BeautifulSoup(data, 'html.parser')
table = soup.find(id="ucPSW_gvMain")
# remove pagination row
table.find('tr', bgcolor="#E6F2F9").decompose()

df = pd.read_html(str(table))[0]
df.head(10)

                                             Company  ... Received Date
0                                   Outdoor Research  ...      1/6/2022
1  Monitronics International, Inc. d/b/a Brinks Home  ...    12/16/2021
2                     Watsonville Community Hospital  ...    11/26/2021
3                                      BitTitan, Inc  ...    11/17/2021
4                                       Zillow Group  ...     11/4/2021
5                              Foss Maritime Company  ...    10/29/2021
6                            Stadelman Fruit Company  ...     7/26/2021
7                                          Xevo, Inc  ...      7/7/2021
8                                            Katerra  ...      7/2/2021
9                                            Katerra  ...      6/1/2021

[10 rows x 7 columns]

## Data cleaning

- handling dates
- type conversion

### Handling missing data

Often data analysts need to account for missing data values.

pandas uses the floating-point value NaN (Not a Number) to represent missing numerica data. This is a **sentinel** value that can be easily detected.

The built-in Python `None` value is also treated as NA.

pandas has several methods for detecting `NaN` values in a Series or DataFrame:
- isnull
- notnull

These methods can be used as filters in a data query.

`data[data.notnull()]`

Alternatively, programs can use `dropna` to filter axis labels where values may have missing data. 

`dropna` has options to control how many missing values a row or column should have to be dropped.

**replace missing values**
Sometimes it's more useful to replace missing data with a specific or interpreted value, using `fillna`.

`fillna` can use a function to determine fill value.

`fillna` returns a new object, but has an `inplace` option.

### Transforming data

- **removing duplicates** - DataFrames have built-in methods to identify which rows are `duplicated` and to `drop_duplicates`. By default, these methods consider all columns, but programs can specify a subset.

- **transformation functions** - programs can use the Series **map** method to perform element-wise operations on transformations.

- **replacing values** - the replace() method is a simple approach for replacing values in a pandas object.

- **transforming indexes** - pandas dataset indexes  support **map()** operations to produce new objects with different labels. **replace()** is useful for simple index changes.

- **handling outliers** - programs may want to find & replace or filter values that exceed some threshold.

#### Binning

Sometimes it's necessary to separate continuous data into bins or groups for analysis.

pandas `cut()` method supports binning operations, including:

- dividing data into specific bins based on value ranges
- dividing data into equal-size bins
- assigning bin names
- determining which side of a bin is open or closed

pandas also provides `qcut()` to bin data based on sample quantiles.

#### Indicator/Dummy variables

It's often necessary to convert a categorical variable into a `dummy` or `indicator` matrix for statistical modeling.

`get_dummies()` returns a matrix with one row for each value in a Series and a column for each distinct category value. 

The matrix value is 1 where the Series value at a given index matches the category and 0 otherwise.

In [ ]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'], 'data1': range(6)})
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

### String manipulation

- string methods - python has a wide range of built-in string methods. Some common ones are:
  - **split** - generate an array of substrings from a string based on a delimiter
  - **lowercase** - convert a string to lower case
  - **uppercase** - convert a string to upper case
  - **join** - combine strings with a delimiter
  - **index** - determine where in a string a substring is first found
  - **find** - determine if a string contains a substring
  - **count** - number of occurences of a substring in a string
  - **replace** - substitute occurrences of one pattern with another.


**Regular Expressions** provide a (mostly) language-agnostic logical syntax for finding/matching string patterns in text.

`regex` patterns can be applied to strings with python's [re module](https://docs.python.org/3/library/re.html).

In [ ]:
import re
text = "foo    bar\t baz  \tqux"

# inline regex pattern
re.split('\s+', text)

# reusable regex object
regex = re.compile('\s+')
regex.split(text)

['foo', 'bar', 'baz', 'qux']

**vectorized string functions**

pandas Series has array-oriented methods for string operations that will skip `NA` values.

In [ ]:
name = "Bob"
name[1:]

'ob'

## Writing Data Files

Pandas can export data to various file formats:

- to_csv   - to a text file w/ defined separator
- to_excel - to Excel file
- to_json  - to JSON
- to_html  - to HTML

In [ ]:
df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
                   index=['row 1', 'row 2'],
                   columns=['col 1', 'col 2'])
df1.to_excel("output.xlsx")  
df1.to_json("output.json")